.card {
    height: 400px;
    overflow: hidden;
}

.card-image {
    height: 250px;
    overflow: hidden;
}

.card-image img{
    min-height: 180px;
    max-height: 180px;
}

.bold{
    font-weight: bold;
}

.primary-title{
    margin-top: 20px;
    margin-bottom: 50px !important;
    font-weight: 500;
}

.secondary-title{
    font-size:45px !important;
    margin:90px 0 50px 0 !important;
    font-weight: bold;
}

#search-form{
    margin-bottom:120px;
}